<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		<add key="logPath" value="C:/Temp/logAsistencia.txt"/>
	    <add key="logUser" value="C:/Temp/logUsuario.txt"/>
		<add key="logCon" value="C:/Temp/logConexion.txt"/>
		<add key="logPerso" value="C:/Temp/logPersonal.txt"/>
	</appSettings>
</configuration>