<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Controlador.Properties.Settings.AsistenciaConnectionString"
            connectionString="Data Source=FELIXL\FELIXL;Initial Catalog=Asistencia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Controlador.Properties.Settings.AsistenciaConnectionString1"
            connectionString="Data Source=FELIX\FELIXL;Initial Catalog=Asistencia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>